*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import"./assets/fonts";
@import"./assets/colors";
@import"./assets/header";
@import"./assets/slide";
@import"./assets/main";
@import"./assets/footer";


body{
    font-family: poppins-light;
    position: relative;
    width: 100vw;
}

a{
    display: block;
    text-decoration: none;
    text-transform: capitalize;
    cursor: pointer;
}

li{
    list-style: none;
}

img{
    width: 100%;
}



